
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}


.head{
    background-image: url('../B12A01-landing-launchpad/Assets/Hero-bg.png');
    background-position: cover;
    width: 1465px;
    height: 712px;
    padding: 10px 20px 0px 200px;
}
.banner-content{
    text-align: center;
    font-weight: bold;
    font-size: 65px;
    width: 905px;
    height: 237px;
    margin-top: 200px;
    margin-inline: 200px;
    margin-bottom: 200px;
    
}

/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}
.nav-title {
    color:#4E47FF ;
    font-size: 40px;
    font-weight: bolder;
}
nav ul li {
     list-style: none;
     text-decoration: none; 
}
.primary-clr{
    background-color: #4E47FF;
    color: white;
    width: 130px;
    height: 45px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;

    
}
.primary-clr:hover{
    background-color: rgba(180, 29, 155, 0.892);
    box-shadow: rgb(251, 240, 255);
    
}
.title{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    width: 517px;
    height: 49px;
  }  
  .subtitle{
    width: 517px;
    height: 60px;
    font-size: 20px;
    color: #20202375;
  }
  .side-picture{
    width: 403px;
    height: 328px;
  }
   .content{
    width: 517px;
    height: 203px;
   }
   .container{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 1140px;
    height: 328px;
    padding: 135px;
 }
 #clr-2{
    width: 229px;
     height: 48px; 
    padding: 36px 12px;
    border-radius: 10px;
    margin: auto;
   
  }
  .users{
    background-color: #7471cb4a;
    width: 1140px;
    height: 250px;
    padding: 80px 50px;
    margin:  10px 200px 50px;
  }
.section-title{
    margin: 0 auto;
    text-align: center;
    width: 856px;
    height: 45px;
    color: #252432;
    font-size: 38px;
    font-weight: bold;
}
.users-numbers{
    display: flex;
    justify-content: space-around;
    
}

.skills{
    width: 1140px;
    height: 342px;
    padding:0px 200px 200px;  
   
}
.titles{
    font-style:normal ;
    font-family: none;
    font-size: 80px;
    color: #4E47FF;
    font-weight: bold;
   
}
.titles-description{
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    color: #00000019 ;
  }


  
.text-center{
   
    text-align: center;
    font-weight: bold;
    font-size: 45px;
}
.skill-container{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    gap: 24px;
    padding: 24px 24px ;

}
.inline{
    display: flex;
    padding: 5px;
    gap:  5px 2px; 
}
   .skill{
    padding: 24px;
    box-shadow: 0px 5px 50px 0px #F2EDED;
   } 
.form-part{
    max-width: 100%;
    width: 1140px;
    height: 600px;
    display: flex;
    justify-content: space-around;
}
form input{
    width: 497px;
    display: block;
    align-items: center;
    height: 70px;
}
.email-type,.text-type{
    width: 497px;
    height: 70px;
    margin: 20px 0px 19px 0px ;
    border: 1px solid #D6DDED;
    border-radius: 10px;
    background: white;
}
form textarea{
    width: 497px;
    height: 135px;
    margin: 20px 0px 19px 0px;
}
.form-title{
    color: black;
    font-weight: 600;
    font-size: 50px;
    padding: 70px 100px 0px 150px;
}
input::placeholder{
    padding: 20px 32px 20px 32px;
    color: black;
}
textarea::placeholder{
    padding: 20px 32px 20px 32px;
    color: black;
}
.button{
    width: 497px;
    height: 62px;
    border-radius: 10px;
    background: rgb(78, 71, 255);
    border: none;
}
input[type="submit"]{
    padding: 19px 101px 19px 101px;
    font-size: 16px;
    font-weight: 700;
    color: white;

}
.massage{
    border: 1px solid rgb(214, 221, 237);
    border-radius: 10px;
    background: white;
}
    
footer section{

    border-top: 1px solid rgba(0, 0, 0, 0.1);
    text-align: center;
}
footer section{
    background-color:white;
    max-width: 80%;
    height: 489px;
    width: 1440px;
  margin: 0px auto;
  
 
}
footer section h1{
    font-weight: 900px;
    font-size: 100px;
    color: #4E47FF;

}

.footer-parent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    text-decoration: none;
}
footer section p{
    color: #8987A1;
   gap:  8px;
    padding-left: 120px;
}
a{
    text-decoration: none;
    color: #252432;
}
.footer-child a:hover{
    text-decoration: none;
    color: #2cae20;

    
}
.button:hover{
    background-color: rgba(180, 29, 155, 0.892);
    box-shadow: rgb(251, 240, 255);
}
 